<form action="">
    <input type="text" (keypress)="onHandleKeyPress($event)" value="{{ title }}" /> {{ title }}
</form>
<form action="">
    <input type="text" [(ngModel)]="title" name="name" /> {{ title }}
</form>
Trạng Thái :{{productStatus ? "Đang mở" :"Đang Đóng"}} <br>
<button class="btn btn-primary" (click)="onclick()">Hiển thị Danh sách</button>
<div *ngIf="productStatus">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let products of productsList">
                <th scope="row">{{ products.id }}</th>
                <td>{{ products.name }}</td>
                <td>{{ products.price }}</td>
                <td>{{ products.status ? "còn hàng" :"hết hàng"}}</td>
                <td><button class="btn btn-primary" (click)="onremove(products.id)">Delete</button></td>
            </tr>


        </tbody>
    </table>
</div>